body{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: burlywood;
    margin:5%;
    text-align:center;
}

nav{
    display:flex;
    justify-content: space-between;
    min-width: 400px;
}
header {
    display:flex;
    flex-direction: column;
}

h2 {
    text-align: center;
}
main{
    width:100%;
}
.contact {
    padding-left: 10%;
    padding-right: 10%;
    min-width: 300px;
    border: 2px black solid;
    border-radius: 9%;
}
footer {
    position:fixed;
    bottom:0;
    width:100%;
}

.product {
    border: 1px dotted black;
}
.product img{
    max-height: 250px;
    max-width: auto;
    object-fit: contain;
}