body{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: burlywood;
    margin:5%;
    text-align:center;
    border: 2px groove black;
    padding: 20px 10px 20px 10px;
    min-height:80vh;
    
}

nav{
    display:flex;
    justify-content: space-between;
    min-width: 400px;
}
header {
    display:flex;
    flex-direction: column;
}

h2 {
    text-align: center;
}
main{
    width:100%;
}
.contact {
    padding: 5% 20% 5% 20%;
    min-width: 300px;
    border: 2px black solid;
    border-radius: 9%;
}
footer {
    position:static;
    bottom:0;
    width:100%;

}

.list {
    text-align:left; 
}
.product {
    border: 1px dotted black;
    margin: 5% 10% 5% 10%;
}
.product img{
    max-height: 250px;
    max-width: auto;
    object-fit: contain;
}