body{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: burlywood;
    margin:5%;
    text-align:center;
}

nav{
    display:flex;
    justify-content: space-between;
    min-width: 400px;
}
header {
    display:flex;
    flex-direction: column;
}

h2 {
    text-align: center;
}

